<div class="spinner-wrapper">
    <mat-spinner *ngIf="loading"></mat-spinner>
</div>
<div *ngIf="!loading" class="wrapper">
    <div class="table-wrapper">
        <table *ngIf="!!magistrants" mat-table [dataSource]="magistrants" class="mag-table mat-elevation-z8 groups-table">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="multiSelect">
                <th class="multi-select-column" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  >
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  >
                    </mat-checkbox>
                </td>
            </ng-container>


            <ng-container matColumnDef="select">
                <th class="view-column" mat-header-cell *matHeaderCellDef>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-icon (click)="handleViewClick(row)" class="icon-pointer">text_snippet</mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th class="name-column" mat-header-cell *matHeaderCellDef> Ф.И.О</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>


            <ng-container matColumnDef="supervisor">
                <th class="supervisor-column" mat-header-cell *matHeaderCellDef> Научный руководитель</th>
                <td mat-cell *matCellDef="let element"> {{element.supervisor}} </td>
            </ng-container>

            <ng-container matColumnDef="practicePlace">
                <th class="practice-column"  mat-header-cell *matHeaderCellDef> Место Практики</th>
                <td mat-cell *matCellDef="let element"> {{element.practicePlace}} </td>
            </ng-container>

            <ng-container matColumnDef="workingTopic">
                <th class="topic-column" class="topic-column" mat-header-cell *matHeaderCellDef> Рабочая Тема</th>
                <td mat-cell *matCellDef="let element"><span class="link">{{element.workingTopic}}</span></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div class="button-wrapper"><button (click)="handleCommonDocsClick()" mat-raised-button [disabled]="!selection.selected.length" color="primary">Общие Документы</button></div>
</div>

